<h1>Show active lines!</h1>

<table>
<% @active_lines.each do |al| %>
  <tr>
    <td><%#= al.location %></td>
    <td><%= al.difficulty %></td>
    <td><%= al.message %></td>
    <td><%= al.line.brand %></td>
    <td><%= al.line.length %>ft</td>
    <td><%= al.line.width %>in</td>
    <td><%= al.line.style %> Line</td>
    <td><%= al.line.system %></td>
    <% if al.is_up? %>
      <td>Currently up!</td>
    <% else %>
      <td>Finished <%= time_ago_in_words(al.finished_at) %> ago.</td>
    <% end %>
  </tr>
<% end %>
</table>
