<div class="col-lg-12 center-block text-center login-content">
  <h1 class="text-uppercase">Let's get slackin</h1>
  <p id="alert"><%= alert %></p>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%#= label_tag :email %>
      <%= email_field_tag :email, params[:email], :placeholder => 'Email' %>
    </div>
    <div class="field">
      <%#= label_tag :password %>
      <%= password_field_tag :password, params[:password], :placeholder => 'Password' %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
  <% end %>

<p> Don't have an account? <%= link_to 'Sign Up!', new_user_path %></p>
</div>

<style>
  body {
    background-image: url("http://emdubb.co/slackimages/bw-slack-bg.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
