<%= javascript_include_tag params[:users] %>
<div class="container">
  <h1>Wuddup, <%= current_user.name %>!</h1>
  <p><%= current_user.skill %>, <%= current_user.location %></p>

  <%= form_for [current_user, @line] do |f| %>
    <div class="field hidden add-line-form">
      <%= f.label :brand %>
      <%= f.select :brand, options_for_select(["Gibbon", "Slackers", "Slackline Industries", "Eno", "WOSS", "Other"]) %>
    </div>
    <div class="field hidden add-line-form">
      <%= f.label :length, "Length (ft)" %>
      <%= f.text_field :length %>
    </div>
    <div class="field hidden add-line-form">
      <%= f.label :width, "Width (in)" %>
      <%= f.text_field :width %>
    </div>
    <div class="field hidden add-line-form">
      <%= f.label :style %>
      <%= f.select :style, options_for_select(["Classic Line", "Jib Line", "Surf Line", "Rodeo Line"]) %>
    </div>
    <div class="field hidden add-line-form">
      <%= f.label :system %>
      <%= f.select :system, options_for_select(["Single Ratchet", "Double Ratchet", "Carabiner"]) %>
    </div>
    <div class="actions hidden add-line-form"><%= f.submit %></div>
  <% end %>

  <h3>Mah Lines</h3>
    <button id="show-line-form">Add Line</button>

  <table class="table">
  <% current_user.lines.each do |l| %>
    <tr>
    <td><%= l.brand %></td>
    <td><%= l.length %>'</td>
    <td><%= l.width %>"</td>
    <td><%= l.style %> Line</td>
    <td><%= l.system %></td>
    <td>
    <% if l.is_active_line? %>
      <strong>Currently up! &nbsp</strong>
      <%= link_to '', active_line_path(:id => l.id, :finished => 'true'), :method => :put, :class => "glyphicon glyphicon-remove takedown" %>

    <% else %>
      <%= link_to "Post my line!", line_active_lines_path(l.id), :method => :post %>
    <% end %>
    </td>
    <td><%= link_to "Delete this line FOREVER", active_line_path(l), :method => :delete, data: { confirm: "For real? We aren't kidding." } %></td>
    </tr>
  <% end %>
  </table>

  <p>I don't slack no more - <%= link_to "DELETE PROFILE", user_path(current_user), :method => :delete, data: { confirm: "Are you sure?" } %>
</div>



