<h3><%= current_user.name %></h3>
<p><%= current_user.location %></p>
<p><%= current_user.skill %></p>

<%= form_for [current_user, @line] do |f| %>
  <div class="field">
    <%= f.label :brand %>
    <%= f.select :brand, options_for_select(["Gibbon", "Slackers", "Slackline Industries", "Eno", "WOSS", "Other"]) %>
  </div>
  <div class="field">
    <%= f.label :length %>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :style %>
    <%= f.select :style, options_for_select(["Classic Line", "Jib Line", "Surf Line", "Rodeo Line"]) %>
  </div>
  <div class="field">
    <%= f.label :system %>
    <%= f.select :system, options_for_select(["Single Ratchet", "Double Ratchet", "Carabiner"]) %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<h3>Mah Lines</h3>
<table>
<% current_user.lines.each do |l| %>
  <tr>
  <td><%= l.brand %></td>
  <td><%= l.length %>'</td>
  <td><%= l.width %>"</td>
  <td><%= l.style %> Line</td>
  <td><%= l.system %></td>
  <td>
  <% if l.is_active_line? %>
    <strong>Currently up!</strong>
    <%= button_to "I'm done bruh!", active_line_path(l), :method => :put %>
  <% else %>
    <%= button_to "Activate this line!", line_active_lines_path(l) %>
  <% end %>
  </td>
  </tr>
<% end %>
</table>
