<h1>User Profile</h1>

<%= current_user.name %>

Add a Line

<%= form_for [current_user, @line] do |f| %>
  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :length %>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :width %>
    <%= f.password_field :width %>
  </div>
  <div class="field">
    <%= f.label :style %>
    <%= f.password_field :style %>
  </div>
  <div class="field">
    <%= f.label :system %>
    <%= f.password_field :system %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
