<div class="container">
<h1><%= @user.name %></h1>
<p><%= @user.skill %>, <%= @user.location %></p>

  <h3>Mah Lines</h3>
  <table class="table">
  <% @user.lines.each do |l| %>
    <tr>
    <td><%= l.brand %></td>
    <td><%= l.length %>'</td>
    <td><%= l.width %>"</td>
    <td><%= l.style %> Line</td>
    <td><%= l.system %></td>
    <td>
    <% if l.is_active_line? %>
      <strong>Currently up!</strong>
    <% end %>
    </td>
    </tr>
  <% end %>
  </table>
</div>
