<h3><%= current_user.name %></h3>
<p><%= current_user.location %></p>
<p><%= current_user.skill %></p>

<%= form_for [current_user, @line] do |f| %>
  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :length %>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :system %>
    <%= f.text_field :system %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<h3>Mah Lines</h3>
<table>
<% current_user.lines.each do |line| %>
  <tr>
  <td><%= line.brand %></td>
  <td><%= line.length %>'</td>
  <td><%= line.width %>"</td>
  <td><%= line.style %> Line</td>
  <td><%= line.system %></td>
  <% if line.is_active_line? %>
    <td><strong>Currently up!</strong></td>
  <% else %>
    <td><%= button_to "Activate this line!", line_active_lines_path(line) %></td>
  <% end %>
  </tr>
<% end %>
</table>
