<!DOCTYPE html>
<html>
<head>
  <title>SlacklineApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<p>
  <%= link_to 'Active Lines', root_path %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <% if current_user %>
    <%= link_to 'Profile', profile_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
